@import './reset';   // зроби reset стилів (наприклад normalize)
@import './variables'; // змінні кольорів, шрифтів
@import './layout';  // базові стилі секцій
@import './responsive'; // медіа-запити

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}